* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

.list {
  margin-top: 3rem;

  & p {
    color: #000;
  }

  & .list_title,
  .list_content {
    display: flex;

    & li:first-child {
      min-width: 150px;
    }

    & li:last-child {
      min-width: 300px;
    }

    & li {
      padding: 0.3125rem 0.625rem;
      border: 1px solid #000;
      text-align: start;
    }
    & .btn_container {
      display: flex;
      justify-content: space-evenly;

      & button {
        padding: 0.3125rem 1.5625rem;
        background-color: #fff;
        border: none;
        cursor: pointer;

        &:hover {
          background-color: #b2b2b2;
        }
      }
    }
  }
}
